body {
    background-color: lightskyblue;
}

header {
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .gridcontainer {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 480px) {
    .gridcontainer {
        display: grid;
        grid-template-columns: 150px 3fr 150px;
        grid-gap: 1em;
    }

    .item-1{
        grid-column-start: 1;
        grid-column-end: 2;
        justify-self: center;
        align-self: center;
    }
    
    .item-2{
        grid-column-start: 2;
        grid-column-end: 3;
        justify-self: start;
        align-self: center;
    }
    
    .item-3{
        grid-column-start: 3;
        grid-column-end: 4;
        justify-self: center;
        align-self: center;
    }
}
